@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Bank</h1>
    <p>Welcome to the Month of July</p>
    <div>
        <p>Partner with us this <b>month</b> for higher return on your investments.</p>
    </div>
</div>
